#home-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    #feed-posts{
        width: 70%;
        padding: 1em;
        height: 100%;
    }
    #user-friends{
        width: 30%;
        padding: 1em;
        border-left: 1px solid lightgray;
        // height: 100%;
    }
}