#home-container {
  display: flex;
  justify-content: space-between;
  height: 100%; }
  #home-container #feed-posts {
    width: 70%;
    padding: 1em;
    height: 100%; }
  #home-container #user-friends {
    width: 30%;
    padding: 1em;
    border-left: 1px solid lightgray; }
